.skills{
    min-height: 50vh;
    padding: 6rem 6rem 0 6rem;
    margin-top: 5rem;
    background-color: white;
}

.about {
    display: flex;
    flex-direction: row;
    
}

.img-side {
    flex: 0.4;
}

.text-side{
    font-size: large;
    text-align: justify;
    padding: 0 5rem;
    flex: 0.6;
}
