.skills{
    color: white;
    min-height: 50vh;
    margin-top: 80px;
}

.skills h1{
    margin-top: 80px;
}

.skill_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill_images img{
    padding-top: 1rem;
    height: 100px;
    width: 100px;
    padding-left: 1rem;
}

@media screen and (max-width: 700px) {
    .skill_images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}