.app-header {
  margin-top: 2rem;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main_image img{
  border-radius: 50%;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  border: 3px solid rgb(125, 160, 255);
  animation: morph 10s ease-in-out infinite;
}

.header-about h1{
  font-size: 70px;
}

.header-img{
  margin-left: 10rem;
  flex: 1;
}

h1{
  color: rgb(40, 40, 40);
}

.header-about p{
  color: rgb(139, 139, 139);
  font-size: 20px;
}

.header-about{
  flex: 1;
  font-size: 28px;
  text-align: right;
  align-items: right;
  margin-right: 10rem;
  font-size: x-large;
}

.skill_images{
  width: 100%;
}

.skill_images img{
  height: 50;
  width: 50px;
  padding: 0 0.75rem;
}
  

@media screen and (max-width:900px){
  .app-header{
    display: flex;
    flex-direction: column;
  }

  .header-about{
    flex: 1.20;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  .header-about p{
    padding: 0 5rem;
  }

  .header-img{
    justify-content: center;
    margin: 0;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}