.footer{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: white;
    /* box-shadow: 0 0 12px rgb(93, 147, 247); */
    max-height: 100px;
}

.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item span{
    padding-right: 1rem;
}

.footer-item a{
    color: black;
    text-decoration: none;
}

.footer-item a {
    position: relative;
}
  
.footer-item  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    align-items: center;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}


  
.footer-item  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}